@use "../globals/variables.scss" as var;
@use "../globals/mixin.scss" as mix;
.more-about-me {
  h1 {
    text-align: center;
    padding: 1rem;
  }
  width: 90%;
  margin: 0 auto;
  .iam-image {
    display: flex;
    gap: 1rem;
    @include mix.Tablet {
      flex-direction: column;
    }
    .image-programer {
      width: 30vw;
      border-radius: 5px;
      @include mix.Tablet {
        width: 90vw;
      }
    }
  }
}
