@use "../globals/variables.scss" as var;
@use "../globals/mixin.scss" as mix;
nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  align-items: baseline;
  background-color: rgba(12, 12, 12, 0.9);
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 4rem;
  align-items: center;
  li {
    text-decoration: none;
    color: white;
    :hover {
      cursor: pointer;
    }
  }
}
.nav-desktop {
  @include mix.Tablet {
    justify-content: start;
  }

  ul {
    align-items: baseline;
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 5rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .menu-svg {
    display: none;
    @include mix.Tablet {
      display: block;
      z-index: 10;
    }
  }
  @include mix.Tablet {
    display: none;
  }
}
.nav-mobile {
  display: none;
  @include mix.Tablet {
    display: flex;
  }

  .invisible {
    display: none;
  }
}
.logo-min {
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Saira Stencil One", cursive;
  font-size: 1.5rem;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  @include mix.Tablet {
    padding-left: 0;
    padding-right: 30px;
    width: 7rem;
    margin: 0 auto;
    text-align: center;
  }
}
.menu-mobile {
  position: fixed;
  z-index: 100;

  background-color: rgba(12, 12, 12, 0.9);
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  li {
    :hover {
      cursor: pointer;
    }
  }
  .no-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 0.5rem;
    li {
      padding: 20px;
      background-color: rgba(18, 18, 18, 0.87);
    }
  }
}
.menu-mobile.active {
  transition: all 0.5s linear;
  transform: translateX(0%);
}
.menu-mobile.disabled {
  transition: all 0.5s linear;
}
