@use "../globals/variables.scss" as var;
@use "../globals/mixin.scss" as mix;
.proyect {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .proyect-title {
    text-align: center;
  }
  .proyect-about {
    white-space: pre-wrap;
  }
  .proyect-images {
    height: 40rem;
    img {
      width: 100%;
    }
  }
  .proyect-link {
    .link-repository,
    .link-page {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .proyect-extra {
    p {
      white-space: pre-wrap;
    }
    .container-crud {
      display: flex;
      gap: 2rem;
      flex-direction: column;
    }
    .container-swiper-extra {
      width: 44rem;

      .extra-swiper {
        width: 44rem;
        height: 24rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.ToolBox {
  gap: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  @include mix.Tablet {
    width: 90%;
  }
  svg {
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 5px;
    @include mix.Tablet {
      align-items: center;
      align-content: center;
    }
  }
}
