@use "../globals/variables.scss" as var;
@use "../globals/mixin.scss" as mix;
.proyect {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .proyect-title {
    text-align: center;
  }
  .proyect-about {
    white-space: pre-wrap;
  }
  .proyect-images {
    img {
      width: 100%;
    }
  }
  .proyect-link {
    .link-repository,
    .link-page {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .proyect-extra {
    p {
      white-space: pre-wrap;
    }
    .container-crud {
      display: flex;
      gap: 2rem;
      flex-direction: column;
    }
    .container-swiper-extra {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      .extra-swiper {
        width: 44rem;
        height: 24rem;

        @include mix.Tablet {
          height: 60vw;
          width: 90vw;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }
    }
  }
}
