@use "../globals/variables.scss" as var;
@use "../globals/mixin.scss" as mix;
.ToolBox {
  gap: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  @include mix.Tablet {
    width: 90%;
  }
  svg {
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 5px;
    @include mix.Tablet {
      align-items: center;
      align-content: center;
    }
  }
}
.ToolAbout {
  display: flex !important;
  flex-wrap: wrap;
}
