@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Saira+Stencil+One&display=swap");

$color-background: #151515;
$color-black: #120f19;
$color-blueF: #12374c;
$color-blueL: #14668a;
$color-cyan: #1fa4d3;
$color-cyanL: #20dbd8;
$color-pr: #009891;
